<html xmlns:https="http://www.w3.org/1999/xhtml">
<head>
	<!-- Material Design Lite -->
	<title>Comprice</title>
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.min.js"></script>

	<!-- Material Design icon font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script>
		componentHandler.upgradeAllRegistered();
	</script>
	<!--jQueryUI -->
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<!--Custom Css-->
	<link rel="stylesheet" type="text/css" href="/homepage/base_layout.css">


</head>

		  <body>
		  <div id="nav" class="mdl-layout mdl-js-layout
		                mdl-layout--fixed-header">
		       <header class="mdl-layout__header">
		        <div class="mdl-layout__header-row">
		             <div class="mdl-layout-title" >
		           <a href="#/"> <img  id="logo" src="images/comprice3.png"/></a>
		            </div>
		            <div class="mdl-layout-spacer">

					</div>
		                <div id="search_holder"> 
		          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
		                      mdl-textfield--floating-label mdl-textfield--align-right">
		            <label class="mdl-button mdl-js-button mdl-button--icon"
		                   for="fixed-header-drawer-exp" style="margin-top: 50px;">
		              <i class="material-icons">search</i>
		            </label>

					  <form >
		            <div class="mdl-textfield__expandable-holder">
		              <input class="mdl-textfield__input" type="text" name="sample"
		                     id="fixed-header-drawer-exp" ng-model="queryProduct" ng-click="searchProduct()" style="margin-top:50px;" >
		            </div>
						  </form>
		          </div>
		         </div>
					<a href="#/"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="margin-left:60px;margin-top: 35px;">
						Home
					</button></a>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="margin-left:20px;margin-top: 35px;">
						Contact
					</button>
		        </div>
		      </header>
			  </div>
		      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer" id="content">
		  <div class="mdl-layout__drawer" >
		    <nav class="mdl-navigation">
		         <div class="select_holder">
		      <div class="mdl-selectfield">
		        <label><p  id="select">Select Category</p></label>
		        <select class="browser-default" id="category" ng-model="category"  >
		          <option value="" style="background: #efefef;">All</option>
		          <option value="1">clothes</option>
		          <option value="2">laptop</option>
		          <option value="3">phone</option>
		        </select>
		      </div>
	            </div>
	            
	         <!--Sliders-->
	            <!--Price-->
		        <div id="price_slider">
		            <label for="output" style="font-size: 16px;margin: 10px;">Chose maximum price</label> <div class="output mdl-textfield" id="eur_output">800 </div>
		            
		        <div class="slider">

		 <input class="bar" type ="range"  ng-click="filterProduct()" id="priceRange" name="priceRange" min ="0"  max ="1000" step ="10" value ="800" onchange="document.getElementById('eur_output').innerHTML = this.value;" ng-model="priceRange"/>
		            </div>

		</div>
	              <!--Distance--> 
		          <div id="radius_slider">
		            <label for="output" style="font-size: 16px;margin: 10px;">Chose maximum distance</label> <div class= "output mdl-textfield" id="km_output">50 </div>
		            
		        <div class="slider">
		 <input class="bar" type="range" id="distanceRange" value="50" max="100" min="0" step="5" onchange="document.getElementById('km_output').innerHTML = this.value;"/>
		            </div>
		</div>

		    </nav>
		  </div>
		           </div>





			  <main class="mdl-layout__content" style="margin-left:12%; padding:15px;">
		          
		<div class="demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="item in vm.data" id="card">
		  <div class="mdl-card__title mdl-card--expand">
			  <img id="image" ng-src="{{('http://s3.eu-central-1.amazonaws.com/compricebucket123/'+item.image)}}" onerror="this.src='https://s3.amazonaws.com/ae-plugins/shared/images/default-thumb-300x300.png'" style="height:200px;width:200px;"/>

		  </div>
			<div id="productName" style="margin-top:0px;height:45px;">
			<h4>{{item.name|uppercase}}
				<p class="mdl-card__title-text" style="color:red;float:right;padding-right:10px;font-size:14px;">{{item.price|currency}}</p>
			</h4>

			</div>
		  <div class="mdl-card__supporting-text">
			  Available in  {{item.shopName}}
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#productDetail" ng-click='productId(item._id)'>
		      View Product
		    </a>
		  </div>

		</div>
		      </main>
		      </div>

		  </body>
		</html>