extends layout
block content
  div(ng-view)
  div.container
    if(done)
      p Upload complete!
    h3 upload File
    form(enctype="multipart/form-data",method="POST")
      label Photo:
        p
          input(type="file" name="uploadedFile")
      input(type="submit" value="Submit") 

