@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    background: #efefef;
    height:85%;


}





.slider {
    width: 85%;
    height: auto;
    margin:auto;
    float:left;


}

.slider .bar {
    width: 100%;
    height: 5px;
    background: #a9a9a9;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border:0px;
}


input[type="range"] {
    -webkit-appearance: none;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    border: 0;
    width: 18px;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    height: 18px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3b3f), color-stop(50%,#ff3b3f), color-stop(51%,#ff3b3f), color-stop(100%,#ff3b3f));
}

.output{
    height:auto;
    width:15%;
    text-align: center;
    margin-top: -3px;
    float:right;
}

select {
    margin-left:-23px;
    border: 1px solid #efefef;
    width: 100%;
    padding: 5px;
    font-size: 18px;
-webkit-appearance: none;
    -moz-appearance: none;

}

/* Remove focus */
select:focus {
    outline: none;
}


/* Use custom arrow */
.mdl-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
.mdl-selectfield:after {
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0,0,0, 0.12);
    pointer-events: none;
}



.select_holder {
    width: 200px;
    padding: 20px;
    margin: 0 auto;
    right: 0;
    left: 0;
}


.demo-card-square.mdl-card {
    width: 370px;
    height: 370px;
}



.demo-card-square{
    float:left;
    padding:15px;
    margin-left:20px;
    margin-bottom:20px;

}

.mdl-layout__content{
    padding-top:20px;
    width:65%;
    padding-left:30px;

}
.mdl-layout__header{
    height: 120px;
    background-color:white;
}
.mdl-layout__header-row{

    background-color:white;
}

.mdl-layout--fixed-drawer{
    margin-top: 121px;
}
.mdl-layout__drawer{
    background-color:white;
    color:#a9a9a9;
    width:250px;
    height:calc(100%- 20px);

}

.mdl-card__title {

    height:300px;

}
.mdl-card__title-text{
    color:red;
    float:right;
    padding-right:10px;
    font-size:16px;
    padding-top:20px;

}
h1{
    color:red;
}
.mdl-card__supporting-text{
    padding-left:0px;

}
#logo{
   margin-top:55px;
    margin-left:-50px;

}
#select{
    font-weight: bold;
    font-size: 19px;
    margin-left:-23px;
}
.demo-card-wide.mdl-card {
    background: #FDFDFD;
    width: 100%;
    border:3px solid #FDFDFD;

}
.demo-card-wide > .mdl-card__title {
    color: #fff;



}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
h3{
    padding:30px;
}
h4{
    padding:30px;

}
